<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkruitNew.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B06A32F681C3E5F89F7F8EEF56F1B37BA1F9C83D</string>
				<key>dateExpires</key>
				<string>03/08/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4923ZQB4G4.com.workruit</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>4923ZQB4G4</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>4923ZQB4G4.com.workruit</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>WorkruitNew.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>671f37cd-21b1-4b45-902d-7fc896a64e62</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.workruit</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4923ZQB4G4</string>
				<key>name</key>
				<string>Storytech Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
